body {
    background-color: cadetblue;
}
header {
    color: white;
    font: normal 20 Arial;
    text-align: center;
}
footer {
    color: white;
    font: normal 20 Arial;
    text-align: center;
}
section {
    background-color: white;
    color: black;
    font: normal 20 Arial;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
  text-align: center;
}